#!/usr/bin/env bash
# vim: set ft=sh:
GETH_CONT_NAME="{{ geth_cont_name }}"
GETH_RPC_PORT="{{ geth_rpc_port }}"
GETH_RPC_ADDR="localhost"
GETH_RPC_URL="http://${GETH_RPC_ADDR}:${GETH_RPC_PORT}"

if [[ -z "$@" ]]; then
    exec docker exec -it "${GETH_CONT_NAME}" geth attach "${GETH_RPC_URL}"
else
    exec docker exec "${GETH_CONT_NAME}" geth attach --exec "$@" "${GETH_RPC_URL}"
fi
